<%- include('partials/head') %>



    <%- include('partials/navbar') %>

    <h1>Hello world is the one of the best
        thing to do in the world <%= 4+4 
        %>

    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto quaerat et ab in aliquid unde sed natus
        placeat nostrum. Quia facilis ullam qui, eum obcaecati
        itaque inventore, sunt hic sit impedit eveniet?
    </p>
    <%- include('partials/footer') %>
